body {
	height: 100vh;
	color: #fff;
	background-color: #000;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0px 0px 0px 0px;
}

a {
	text-decoration: none;
	color: #c62ce8;
}

a:hover {
	text-decoration: underline;
}
